.timer {
    margin: ratio-space(3px) 0;
    @extend %flex;
    justify-content: space-between;
    align-items: center;

    progress {
        appearance: none; // réinitialise l'apparence par défaut
        width: 85%;
        height: 24px;
        border-radius: 12px;
        
        &::-webkit-progress-bar {
            border-radius: 12px;
            background-color: $light-orange;
        }
        
        &::-webkit-progress-value {
            transition: 1s;
            border-radius: 12px;
            background-color: $orange;
        }
    }
}