%flex {
    display: flex;
    flex-wrap: wrap;
}

%grid {
    display: grid;
}

%box-shadow {
    box-shadow: 4px 4px 15px rgba(#000, 0.25);
}

%modal {
    @extend %box-shadow;
    position: absolute;
    background-color: $white;
    top: 15%;
    left: 5%;
    width: 90%;
    min-height: 70%;
    font-size: $medium-font;
    @extend %flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: ratio-space(4px) 0;

    @media #{$media-down-md} {
        font-size: 16px;
        height: 90%;
        top: 5%;
    }
}