$dark-blue: #18123E;
$blue: #37A1D2;
$light-blue: #DAF4FF;
$orange: #F19335;
$light-orange: #FEF3E4;
$green: #99C053;
$light-green: #E4F2E6;
$pink: #F57187;
$light-pink:  #FEE1D9;
$white: #FFF;
$yellow: #FDE3A7;

$primary-color: $orange;
$secondary-color: $yellow;