header {
    @extend %flex;
    justify-content: space-between;

    width: #{calc(100% - ratio-space(6px))};
    padding: ratio-space(3px);

    .logo {
        height: 64px;
        filter: drop-shadow(4px 4px 4px rgba($primary-color, .25))
    }

    .icon {
        height: 32px;
    }
}