button, input, textarea, a, input::placeholder {
    outline: none;
    border: none;
    text-decoration: none;
}

a, button, input[type='submit'] {
    cursor: pointer;
}

q:before {
    content: '« ';
}

q:after {
    content: ' »';
}

* {
    font: inherit;
    color: inherit;
    box-sizing: border-box;
}

html, body {
    scroll-behavior: smooth;
    font-family: $font-primary;
    font-size: $font-size;
    color: $font-color;

    @media #{$media-down-md} {
        font-size: 16px;
    }
}
